
<%= flash[:notice] %>
<div class="title">
          Reset Password
 </div>
<%= form_with model: @user , url: "/password/reset_password" , method: :post do |f|%>
<div class="input-box">
<i class="fas fa-lock"></i>
   
    <%= f.password_field :password , placeholder: "Enter Your password" %>
</div>
<div class="input-box">
<i class="fas fa-lock"></i>
   
    <%= f.password_field :password_confirmation , placeholder: "Confirm your password" %>
</div>
<div class="button input-box">
   <%= f.submit 'Reset Password' %>
</div>
<% end %>
