<h1 style="color:#7d2ae8; text-align:center;">Hello <%= @user.first_name %>, welcome home</h1>
<div class="card">
<% if @user.profile_picture.attached? %>
  <%= image_tag @user.profile_picture ,:style=> "float:right; width:100%"%>
<% else %>
<%= image_tag "/assets/backImg.jpg" ,:style=> "float:right; width:100%"%>
<% end %>
<h2><%= @user.first_name%><h2>
<h2><i class="fas fa-phone"></i><%=  @user.phone %></h2>
<h2><i class="fas fa-calendar-days"></i><%= @user.date_of_birth%></h2>
</div>
<ul>